apiVersion: apps/v1
kind: Deployment
metadata:
  name: heartbeat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: heartbeat
  template:
    metadata:
      labels:
        app: heartbeat
    spec:
      containers:
      - name: heartbeat
        image: elastic/heartbeat:9.1.8
        args: ["-e", "-c", "/usr/share/heartbeat/heartbeat.yml"]
        securityContext:
          runAsUser: 0
        volumeMounts:
        - name: config
          mountPath: /usr/share/heartbeat/heartbeat.yml
          subPath: heartbeat.yml
      volumes:
      - name: config
        configMap:
          name: heartbeat-config

